# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# Maven
target/
.mvn/
mvnw
mvnw.cmd

# Gradle
.gradle/
build/

# IDE
.idea/
*.iml
*.iws
*.ipr
.classpath
.project
.c9/
*.launch
.settings/
*.sublime-workspace

# OS
.DS_Store
Thumbs.db

# Dependencies
.npm
node_modules/

# Testing
.coverage
htmlcov/

# Environment
.env
.env.local
